---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
import Hero from '../components/Hero.astro';
import Cat from '../components/Cat.astro';

import '@fontsource/share-tech-mono';

const res = await fetch('https://eipiai.vercel.app/api/data-jere');
const data = await res.json();
---

<Layout title="About me">
    <main>
        <Hero data={data} />
        <Info es={data.paragraph.find(p => p.lang === 'es')} en={data.paragraph.find(p => p.lang === 'en')} />
        <Cat />
    </main>
</Layout>

<style>
    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 36rem;
        margin: 0 auto;
        padding: 2rem 1.2rem;
        height: 100svh;
    }

</style>
